<div class="container mt-5 mb-5">
  <ul>
    <li *ngFor="let game of games">
      {{ games.indexOf(game) + 1 + skip }}-
      <a routerLink="/games/{{ game._id }}">{{ game.title }}</a>
      <a
        name=" edit"
        *ngIf="userService.isAuthenticated()"
        id="edit"
        class="btn btn-primary btn-sm"
        (click)="edit(game)"
        role="button"
        >Edit</a
      >
      <a
        name="edit"
        id="edit"
        class="btn btn-danger btn-sm"
        *ngIf="userService.isAuthenticated()"
        role="button"
        (click)="deleteGame(game)"
        >Delete</a
      >
    </li>
  </ul>
  <div>
    <button
      class="btn btn-secondary"
      [disabled]="skip == 0"
      (click)="previous()"
    >
      Previous
    </button>
    <button
      class="btn btn-secondary"
      [disabled]="games.length < limit"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
<div *ngIf="userService.isAuthenticated()" class="container">
  <h2>Add new Game</h2>
  <form  novalidate #form="ngForm"   (ngSubmit)="addUpdateGame(form)">

    <div class="row">
      <div class="col-md-6">
        <div *ngIf="success" class="alert alert-success" role="alert">
          <strong>Holy guacamole!</strong>  successfully created or updated
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert"><strong>Oops!</strong>{{error}}</div>

        </div>
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="iTitle"
        [(ngModel)]="game.title"
        required
        #title="ngModel"
        class="form-control"
        placeholder="Title"
      />
      <div
        class="form-text text-danger"
        *ngIf="title.invalid &&
          (title.dirty || form.submitted)"
      >
        Please enter the game title
      </div>

      <label for="year">Year</label>
      <input
        type="text"
        name="year"
        id="iyear"
        [(ngModel)]="game.year"
        pattern="[1-2][0-9][0-9][0-9]"
        class="form-control"
        #year="ngModel"
        placeholder="Year"
      />
      <div
        class="form-text text-danger"
        *ngIf="
          year.invalid &&
          (year.dirty || form.submitted)
        "
      >
        Please enter a valid game year >1000
      </div>
      <label for="year">Rate</label>
      <input
        type="text"
        name="rate"
        id="iyear"
        [(ngModel)]="game.rate"
        class="form-control"
        placeholder="rate"
        #rate="ngModel"
      />

      <label for="price">Price</label>
      <input
        type="number"
        name="rate"
        id="iprice"
        [(ngModel)]="game.price"
        class="form-control"
        placeholder="price"
        #price="ngModel"
      />
      <label for="year">Minimum Players</label>
      <input
        type="text"
        name="minPlayers"
        required
        [(ngModel)]="game.minPlayers"
        class="form-control"
        placeholder="Minimum Players"
        #minPlayers="ngModel"
      />
      <div
        class="form-text text-danger"
        *ngIf="
          minPlayers.invalid &&
          (minPlayers.dirty || form.submitted)
        "
      >
        Please enter a valid game Minimum Players
      </div>
      <label for="year">Maximum Players</label>
      <input
        type="text"
        name="maxPlayers"
        required
        [(ngModel)]="game.maxPlayers"
        class="form-control"
        placeholder="Maximum Players"
        #maxPlayers="ngModel"
      />
      <div
        class="form-text text-danger"
        *ngIf="
          maxPlayers.invalid &&
          (maxPlayers.dirty || form.submitted)
        "
      >
        Please enter a valid game Maximum Players
      </div>

      <label for="year">Minimum Age</label>
      <input
        type="text"
        name="minAge"
        required
        [(ngModel)]="game.minAge"
        class="form-control"
        placeholder="Maximum Players"
        #minAge="ngModel"
      />
      <div
        class="form-text text-danger"
        *ngIf="
          minAge.invalid &&
          (minAge.dirty || form.submitted)
        "
      >
        Please enter a valid game minimum age
      </div>
      <label for="year">Designer</label>
      <input
        type="text"
        name="designer"
        [(ngModel)]="game.designer"
        class="form-control"
        placeholder="designer"
      />
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
