<form novalidate #registerForm="ngForm"  class="container" (ngSubmit)="register(registerForm)">
  <h1> </h1>
  <div *ngIf="success" class="alert alert-success" role="alert">
    <strong>Holy guacamole!</strong> User successfully created, please login.
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert"><strong>Oops!</strong>{{error}} </div>
  <label for="title">Name :</label>
  <input required class="form-control me-sm-2" name="name" #name="ngModel" type="text" [(ngModel)]="user.name" placeholder="Name" />
  <div
    class="form-text text-danger"
    *ngIf="name.invalid && (name.dirty|| registerForm.submitted)"
  >
    Please enter your name
  </div>

  <label for="title">User Name :</label>
  <input
    required
    class="form-control me-sm-2"
    name="userName"
    type="text"
    [(ngModel)]="user.userName"
    placeholder="User Name"
    #userName="ngModel"
  />
  <div
    class="form-text text-danger"
    *ngIf="userName.invalid && (userName.dirty|| registerForm.submitted)"
  >
    Please enter your user name
  </div>

  <label for="title">Password :</label>
  <input
    required
    class="form-control me-sm-2"
    name="password"
    type="password"
    [(ngModel)]="user.password"
    placeholder="Password"
    #password="ngModel"
  />
  <div
    class="form-text text-danger"
    *ngIf="password.invalid && (password.dirty|| registerForm.submitted)"
  >
    Please enter your password
  </div>
  <label for="title">Confirm Password :</label>
  <input
    required
    class="form-control me-sm-2"
    name="confirmPassword"
    type="password"
    [(ngModel)]="user.confirmPassword"
    placeholder="Confirm Password"
    #confirmPassword="ngModel"
  />
  <div
    class="form-text text-danger"
    *ngIf="confirmPassword.invalid && (confirmPassword.dirty|| registerForm.submitted)"
  >
    Please enter your confirm password
  </div>
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Register</button>
</form>
